{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% set image = asset('build/assets/images/login.jpg') %}
        <style>
            body {
                background: #007bff;
                background: linear-gradient(to right, #0062E6, #33AEFF);
            }

            .card-img-left {
                width: 45%;
                /* Link to your background image using in the property below! */
                background: scroll center url('{{ image }}');
                background-size: cover;
            }
            .btn-fw{
                width: 100%!important;
            }
        </style>
    {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-8 p-5">
                    <img src="{{ asset('build/assets/images/ultimo.png') }}"
                         class="img-fluid" id="logoLideres" alt="logo">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden" style="background-color: #D3E4EE">

                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5" style="color: black!important;">Login</h5>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="form-floating mb-3">
                            <label for="inputUsername" style="color: black!important;">Usuario o correo electrónico</label>
                            <input type="text" value="{{ last_username }}" name="username"
                                   id="inputUsername" class="form-control" required autofocus/>
                        </div>

                        <div class="form-floating mb-2">
                            <label for="inputPassword" style="color: black!important;">Contraseña</label>
                            <input type="password" name="password" id="inputPassword"
                                   class="form-control"
                                   required>
                        </div>

                        <a class="d-block text-center mb-2 small" href="{{ path('app_forgot_password_request') }}">¿Olvidaste tu
                            contraseña?</a>

                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-fw btn-primary btn-outline" type="submit">
                                Login
                            </button>
                        </div>

                        <a class="d-block text-center mt-2 small" href="{{ path('app_register') }}">¿No tienes una cuenta? Regístrate</a>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    {% block navbar %}
    {% endblock %}
    {% block  footer%}
        <footer class="text-center text-white">
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a
                            data-mdb-button-init data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #075e54;"
                            href="https://wa.me/+5930986257804"
                            role="button"
                    ><i class="fab fa-whatsapp"></i
                        ></a>

                    <!-- Twitter -->
                    <a
                            data-mdb-button-init data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #ac2bac;"
                            href="https://www.instagram.com/lideresed"
                            role="button"
                    ><i class="fab fa-instagram"></i
                        ></a>

                    <!-- Google -->
                    <a
                            data-mdb-button-init data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #3b5998;"
                            href="https://www.facebook.com/lideresed"
                            role="button"
                    ><i class="fab fa-facebook-f"></i
                        ></a>

                    <!-- Instagram -->
                    <a
                            data-mdb-button-init data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #c4302b;"
                            href="https://youtube.com/channel/UCka8tDjH0Ne8EgXkxv2WSpQ"
                            role="button"
                    ><i class="fab fa-youtube"></i
                        ></a>

                </section>
                <!-- Section: Social media -->
            </div>
        </footer>
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('login') }}
    {% endblock %}
