{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% set image = asset('build/assets/images/reg.jpg') %}
        <style>
            body {
                background: #007bff;
                background: linear-gradient(to right, #0062E6, #33AEFF);
            }
            .custom-file {
                height: 0rem;
                opacity: 1;
                position: absolute;
                right: 9rem;
                top: 3rem;
                width: 28%;
                opacity: 0;
            }
            .custom-file-input {
                height: 8rem;
                cursor: pointer;
                opacity: 0;
            }
            .card-img-left {
                width: 45%;
                /* Link to your background image using in the property below! */
                background: scroll center url('{{ image }}');
                background-size: cover;
            }
            .profile-pic {
                max-height: 7rem;
            }
            .hidden {
                display: none !important;
                visibility: hidden;
            }
        </style>
    {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-8 p-5">
                        <img src="{{ asset('build/assets/images/ultimo.png') }}"
                             class="img-fluid" id="logoLideres" alt="logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center mb-1 fw-light fs-5">Nuevo registro</h5>
                        {{ form_start(registrationForm, {'attr': {'id': 'register_form'}}) }}
                        <div class="form-floating mb-1">

                        </div>
                        <div class="mb-1 row justify-content-center">
                            {{ form_row(registrationForm.photo) }}
                            <img src="{{ user.photo ? path('photoProfile', {'id':user.id}) : asset('build/assets/images/user.png')}}" id="profilePic" alt="foto_perfil" class="img-border img-thumbnail rounded-circle profile-pic" width="100">
                        </div>
                        <h6 class="card-subtitle mb-1 text-info fs-5">Datos del usuario</h6>
                        <div class="form-floating mb-1">
                            {{ form_row(registrationForm.username) }}
                        </div>

                        <div class="form-floating mb-1">
                            {{ form_row(registrationForm.plainPassword) }}
                        </div>
                        <div class="form-floating mb-1">
                            {{ form_row(registrationForm.e_mail) }}
                        </div>
                        <h6 class="card-subtitle mb-1 text-info fs-5">Datos generales</h6>
                        <div class="form-floating mb-1">
                            {{ form_row(registrationForm.nombre) }}
                        </div>
                        <div class="form-floating mb-1">
                            {{ form_row(registrationForm.primer_apellido) }}
                        </div>
                        <div class="form-floating mb-1">
                            {{ form_row(registrationForm.segundo_apellido) }}
                        </div>
                        <h6 class="card-subtitle mb-1 text-info fs-5">Datos de mi institución</h6>
                        <div class="form-floating mb-1">
                            {{ form_row(registrationForm.nombre_institucion) }}
                        </div>
                        <div class="form-floating mb-1">
                            {{ form_row(registrationForm.pais_institucion) }}
                        </div>
                        <div class="form-floating mb-1">
                            {{ form_row(registrationForm.provincia) }}
                        </div>
                        <div class="form-floating mb-1">
                            {{ form_row(registrationForm.canton) }}
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block navbar %}
    {% endblock %}
    {% block  footer %}
        <footer class="text-center text-white">
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a
                            data-mdb-button-init data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #075e54;"
                            href="https://wa.me/+5930986257804"
                            role="button"
                    ><i class="fab fa-whatsapp"></i
                        ></a>

                    <!-- Twitter -->
                    <a
                            data-mdb-button-init data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #ac2bac;"
                            href="https://www.instagram.com/lideresec"
                            role="button"
                    ><i class="fab fa-instagram"></i
                        ></a>

                    <!-- Google -->
                    <a
                            data-mdb-button-init data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #3b5998;"
                            href="https://www.facebook.com/lideresed"
                            role="button"
                    ><i class="fab fa-facebook-f"></i
                        ></a>

                    <!-- Instagram -->
                    <a
                            data-mdb-button-init data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #c4302b;"
                            href="https://youtube.com/channel/UCka8tDjH0Ne8EgXkxv2WSpQ"
                            role="button"
                    ><i class="fab fa-youtube"></i
                        ></a>

                </section>
                <!-- Section: Social media -->
            </div>
        </footer>
    {% endblock %}
  {% block javascripts %}
      {{ parent() }}
      <script>
          let urlCanton = '{{ path('canton_by_provincia')}}';
          let role = {{ user.roles | json_encode | raw }};
          let route_photo = "{{ path('photo_change') }}";
          {% if user.id %}
          let userId = {{ user.id }};
          route_photo = "{{ path('photo_change', {'id': user.id}) }}";
          {% endif %}
      </script>
      {{ encore_entry_script_tags('register') }}

  {% endblock %}
