{% extends 'dashboard/index.html.twig' %}

{% block title %}
	Mis Textos
{% endblock %}

{% block username %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}
{% block title_panel %}
	{% if is_super %}
		<h3>{{user.nombre }}, Textos</h3>
	{% else %}
		<h2>Mis textos</h2>
	{% endif %}
{%  endblock %}
{% block searcher %}{% endblock %}

{% block book_loop %}
	<div class="row">
		<div class="col-md-12">
			{% for k, m in result %}
				{% if m|length > 0 %}
					<div class="card" style="margin:0!important">
						<div class="card-header" style="background-color: #1c8e8a; color: white;">
							{{ k }}
						</div>
						<div class="card-body">
							{% for r in m %}
								{% set images = r.portadaDir %}
								{% set footer = r.nombre %}
								<figure class="figure mr-1">
									<a href="{{ path('libro_show', {'id': r.id}) }}">
										<img src="{{ r.portadaDir|imagine_filter('squared_thumbnail_medium') }}" height="300" class="figure-img rounded" alt="libro_portada">
									</a>
									{% block picture_footer %}
										{% if is_super %}
											<div class="row">
												<div class="col-md-12 text-center">
													{{ bookState(r, user)|raw }}
												</div>
												<div class="col-md-6">
													<a href="{{ path('textosEdit', {'id': r.libro.id }) }}" title="Editar" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
												</div>
												<div class="col-md-6 text-right"> 
													<button class="btn btn-warning btnDelete pull-right" title="Borrar" id="{{ r.id }}" data-routename="codigo_delete"><i class="fas fa-power-off"></i></button>
												</div>
											</div>
										{% endif %}
										<figcaption class="figure-caption">
											<strong>Periodo de Activación:
											</strong>
										</figcaption>
										<figcaption class="figure-caption">
											<strong>Fecha inicio:
												{{ r.codigos[0].fechaInicio | date('d-m-Y') }}
											</strong>
										</figcaption>
										<figcaption class="figure-caption">
											<strong>Fecha Fin:
												{{ r.codigos[0].fechaFin | date('d-m-Y') }}
											</strong>
										</figcaption>
									{% endblock %}
								</figure>
							{% endfor %}
						</div>
					</div>
					</figure>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('listados') }}
{% endblock %}
