{% extends 'super/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} - Listados Textos
{% endblock %}

{% block title_panel %}
    <h4 style="color: #aacd4e" > Listado de Textos</h4>
{% endblock %}

{% block right_block %}

    <div class="col-lg-9 pt-5">
        <div class="row mb-1">
            <div class="col">
                <a class="btn btn-success" href="{{ path('addTextos') }}"><span class="fas fa-plus"></span> Adicionar</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive-sm">
                    <table class="table table-bordered display" id="table">
                        <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Catálogo</th>
                            <th scope="col">Sub Categoría</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Dirigido a:</th>
                            <th scope="col" style="min-width: 5rem">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set count = 0 %}
                        {% for b in books %}
                            {% set count = count + 1 %}
                            <tr id="{{ "tr"~b.id }}">
                                <th scope="row"> {{ count }}</th>
                                <td>{{ b.nombre }}</td>
                                <td>{{ b.catalogo.nombre }}</td>
                                <td>{{ b.subCategoria.nombre }}</td>
                                <td>{{ b.subCategoria.categoria.nombre }}</td>
                                <td>
                                    {% set estudiante = b.getParaEstudiante() %}
                                    {% set docente = b.getParaDocente() %}
                                    {% if not estudiante and not docente %}
                                        <span class="text-danger">No esta definido...</span>
                                    {% elseif estudiante or docente %}
                                    <ul>
                                        {% if estudiante %}
                                            <li>Estudiantes</li>
                                        {% endif %}
                                        {% if docente %}
                                            <li>Docentes</li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="{{ path('textosEdit', {'id': b.id }) }}" id="btnEditar"><i class="fas fa-pencil-alt" title="Editar"></i></a>
                                    <button class="btn btn-danger btnDelete" title="Borrar" id="{{ b.id }}" data-routename="libro_delete"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let delete_message = 'Se <b class="text-danger">eliminarán todas las Unidades asociadas</b> y a su ves los registros vinculados a estas. ';
    </script>
    {{ encore_entry_script_tags('listados') }}
{% endblock %}