{% extends 'base.html.twig' %}

{% block title %}ImagenGuardada{% endblock %}

{% block body %}
    <h1>ImagenGuardada</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imagen_guardada.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ imagen_guardada.nombre }}</td>
            </tr>
            <tr>
                <th>Archivo</th>
                <td>{{ imagen_guardada.archivo }}</td>
            </tr>
            <tr>
                <th>MimeType</th>
                <td>{{ imagen_guardada.mimeType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('imagen_guardada_index') }}">back to list</a>

    <a href="{{ path('imagen_guardada_edit', {'id': imagen_guardada.id}) }}">edit</a>

    {{ include('imagen_guardada/_delete_form.html.twig') }}
{% endblock %}
