{% extends 'dashboard/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        a:hover {
            text-decoration: none;
        }
        ul.list-unstyled div.heading-resources {
            background-color: #f8f9fa;
            padding: 0.1rem;
            border-bottom: 1px solid;
            border-color: #afb3b6;
        }
        .rotate{
            -moz-transition: all 2s linear;
            -webkit-transition: all 2s linear;
            transition: all 2s linear;
        }

        .rotate.right{
            -ms-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

    </style>

{% endblock %}

{% block title %}
    Mis Recursos
{% endblock %}

{% block username %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}
{% block title_panel %}
    <h2>Mis Recursos</h2>
{%  endblock %}
{% block searcher %}
{% endblock %}

{% block book_loop %}
{% endblock %}

{% block right_block %}
    <div class="col-lg-9">

        <div class="card" style="background-color: transparent">
            <div class="card-header">
                <h2 class="card-title">Mis Recursos</h2>
            </div>
            <div class="card-body">
                {% for l in recursosT %}
                    {% if l is not empty %}
                        {% set id = l[0].libro.nombre | replace({' ': ''}) %}
                        {% set id = id~l[0].id %}
                        <div class="row my-1">
                            <div class="col">
                                <a type="button" style="text-emphasis: none;" data-toggle="collapse" data-target="{{'#'~id}}" aria-expanded="false" aria-controls="collapseExample">
                                    <h4 class="display-4"><span style="font-size: 65%">{{ l[0] .libro.nombre }}</span> <span class="fas fa-chevron-right rotate" style="font-size: 40%"></span> </h4>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="{{id}}" style="width: 100%; background-color: transparent;">
                            <div class="card card-body" style="background-color: transparent;">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <ul class="column-resources list-unstyled" id="misDocumentos">
                                            <div class="heading-resources" style="background-color: transparent">
                                                <h6><span class="fas fa-newspaper mt-1 mx-1"></span> Documentos</h6>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3" >
                                        <ul class="column-resources list-unstyled" id="misVideos">
                                            <div class="heading-resources" style="background-color: transparent">
                                                <h6><span class="fas fa-video mt-1 mx-1"></span> Videos</h6>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        <ul class="column-resources list-unstyled" id="misCanciones">
                                            <div class="heading-resources" style="background-color: transparent">
                                                <h6><span class="fas fa-volume-up mt-1 mx-1"></span> Canciones</h6>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3">
                                        <ul class="column-resources list-unstyled" id="webs">
                                            <div class="heading-resources" style="background-color: transparent">
                                                <h6><span class="fas fa-link mt-1 mx-1"></span> Enlaces web</h6>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


    </div>
    <div class="modal fade" id="modalVideoY" tabindex="-1" role="dialog" aria-labelledby="modalVideoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalVideoLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9" style="display: none">
                        <iframe class="embed-responsive-item" id="iframeVideo"
                                src=""
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalMediaLocal" tabindex="-1" role="dialog" aria-labelledby="modalAudioLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAudioLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <audio controls controlsList="nodownload" style="display: none">
                        <source src="" type="audio/mpeg">
                        Su navegador no soporta el reproductor de audio.
                        </audio>
                    <video controls controlsList="nodownload" style="display: none; width: 100%; height: 25rem">
                        <source src="" type="video/mp4">
                        Su navegador no soporta el reproductor de video.
                    </video>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let recursos = {{ recursos | json_encode | raw}};
        const TIPO_URL = 'url';
        const TIPO_FILE = 'archivo';
        recursos = JSON.parse(recursos);
    </script>
    {{ encore_entry_script_tags('plataforma') }}
{% endblock %}