{% extends 'base.html.twig' %}

{% block title %}CREATIVE PLATAFORMA MULTIMEDIA{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <style>
        body, html {
            height: 100%;
        }

        .bg {
            background-image: url('{{ asset('build/assets/images/bg_home.jpeg') }}');
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="container-fluid bg">
        <div class="row navbar fixed-bottom">
            <div class="col m-5 p-5">
                <div class="row justify-content-md-end m-5 p-5">
                    {# <a href="{{ path('app_login') }}" class="btn btn-lg btn-login mr-5" id="btn-login"><i class="far fa-paper-plane"></i> Acceso</a> #}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block navbar %}
{% endblock %}

{% block  footer%}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function(){
            $('body').on('click', function(){
                location.href = "{{ path('app_login') }}";
            })
        })
    </script>
{% endblock %}