{% extends 'super/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Listado de Cat치logos
{% endblock %}

{% block title_panel %}
    <h4 style="color: #aacd4e" > Listado de Cat치logos</h4>
{% endblock %}

{% block right_block %}

    <div class="col-lg-9 pt-5">
        <div class="row mb-1">
            <div class="col">
                <a class="btn btn-success" href="{{ path('add_catalogo') }}"><span class="fas fa-plus"></span> Adicionar</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive-sm">
                    <table class="table table-bordered display" id="table">
                        <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Nombre Cat치lago</th>
                            <th scope="col">Etapa</th>
                            <th scope="col">Materia</th>
                            <th scope="col">Grado Escolar</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set count = 0 %}
                        {% for c in catalogos %}
                            {% set count = count + 1 %}
                            <tr id="{{ "tr"~c.id }}">
                                <th scope="row"> {{ count }}</th>
                                <td>{{ c.nombre }}</td>
                                <td>{{ c.etapas.nombre }}</td>
                                <td>{{ c.materias.nombre }}</td>
                                <td>{{ c.grados.nombre }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{{ path('catalogo_edit', {'id': c.id }) }}" id="btnEditar"><i class="fas fa-pencil-alt" title="Editar"></i></a>
                                    <button class="btn btn-danger btnDelete" title="Borrar" id="{{ c.id }}" data-routename="catalogo_delete"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let delete_message = 'Se <b class="text-danger">eliminar치n todos los Libros asociados</b> y a su ves los registros vinculados a estos. ';
    </script>
    {{ encore_entry_script_tags('listados') }}
{% endblock %}