{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .custom-file-class {
            height: 0;
            position: absolute;
            right: 7.5rem;
            top: 2rem;
            width: 28%;
            cursor: pointer !important;
        }

        #change_password_form_photo {
            height: 8rem;
            cursor: pointer !important;
        }

        .custom-btn {
            border: 1px solid #ced4da !important;
            border-left-color: transparent !important;
            opacity: 0.8 !important;
        }

        .custom-btn:hover, .custom-btn:active {
            background-color: transparent !important;
            color: #6c757d !important;
        }

        .custom-btn:focus {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5) !important;
        }

        #searchInput {
            border-right-color: transparent;
        }
    </style>
{% endblock %}

{% block title %}
    Inicio
{% endblock %}

{% block username %}
    {% set fulluser = app.user.getNombre() ~ ' ' ~ app.user.primerApellido() %}
    {{ fulluser | default() }}
{% endblock %}

{% block avatar %}
    {% if app.user.getPhoto() %}
        <img src="{{ app.user.photoDir|imagine_filter('squared_thumbnail_small') }}"
             class="img-thumbnail rounded float-right" id="avatar" width="60" height="15" style="max-height: 4rem"
             alt="avatar">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block profile_avatar %}
    {% if app.user.getPhoto() %}
        <img src="{{ app.user.photoDir|imagine_filter('squared_thumbnail_small') }}" id='profilePic' alt="foto_perfil"
             class="img-thumbnail rounded-circle" width="100" style="max-height: 6rem">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block usernick %}
    {{ app.user.getUsername() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="overlay overlayGeneral" style="display: none; z-index: 10">
        <div class="overlay__inner">
            <div class="overlay__content">
                <span class="spinner"></span>
            </div>
        </div>
    </div>
{% endblock %}
{% block right_block %}
    <div class="col-lg-9">
        <div class="card mt-2" style="padding: 0!important;background-color: transparent">
            <div class="card-header" style=" color: white;">
                <div class="row">
                    <div class="col-3">
                        {% block title_panel %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-4 offset-lg-2">
                        {% block searcher %}
                            <form class="mr-5">
                                <div class="input-group ">
                                    <input type="text" id="searchInput" class="form-control"
                                           placeholder="Detallar el titulo del libro"
                                           aria-label="Detallar el titulo del libro" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary custom-btn" type="button" style="color:white"
                                                id="button-addon2"><span><i class="fas fa-search"></i></span></button>
                                    </div>
                                </div>
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="card-body" style="margin-top: -13 !important;">
                <div class="row px-3 justify-content-center">
                    <div class="row">
                        {% block book_loop %}
                            {% for k, m in books %}
                                {% if m|length > 0 %}
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" style="background-color: #1c8e8a; color: white;">
                                        {{ k }}
                                    </div>
                                    <div class="card-body">
                                        {% for l in m %}
                                            <figure id="{{ 'libro_'~l.id }}" class="figure mr-5">
                                                <a href="{{ path('libro_activado_book_new',{id: l.id}) }}">
                                                    <img src="{{ l.portadaDir|imagine_filter('squared_thumbnail_medium') }}"
                                                         height="250" class="figure-img rounded" alt="libro_portada">
                                                </a>
                                                {% block picture_footer %}
                                                    <figcaption class="figure-caption" style="text-align: center">
                                                        <strong>{{ l.nombre }} </strong></figcaption>
                                                {% endblock %}
                                            </figure>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block reset_password %}

    <div class="col-lg-12 offset-sm-2 col-sm-7">
        <div class="alert alert-danger alert-dismissible" role="alert"
             style="display: none; font-size: 90%; position: absolute; bottom: 0; width: 100%; padding: 0.5rem"
             id="formAlert">
        </div>
    </div>

    {% set formR = resetForm.changePasswordForm() %}

    {{ form_start( formR, {'attr': {'id': 'changePasswordForm'}, 'action': '/dashboard'}) }}
    {{ form_errors(formR) }}
    {{ form_end(formR) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const ROUTE_PHOTO = "{{ path('photo_change') }}";
        let formURL = "{{ path('dashboard') }}";
        {% if booksJson is defined %}
        let booksJson = {{ booksJson | json_encode | raw }};
        booksJson = JSON.parse(booksJson);
        {% endif %}
    </script>
    {{ encore_entry_script_tags('left_panel') }}
    {% if booksJson is defined %}
        {{ encore_entry_script_tags('dashboard_searcher') }}
    {% endif %}
{% endblock %}

